@import "../assets/sass/themes/light-themes.scss";

:root {
  --theme-color-1: #{$theme-color-1};
  --theme-color-7: #{$theme-color-7};
}

.login-form {
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
  //height: 100vh;
  top: 100px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 991px) {
    top: 0;
    height: 100vh;
    margin-bottom: 0;
  }

  .welcome-to-accnet {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }

  .ant-input {
    border: 0;
    box-shadow: none;
  }
  .ant-select-selection__placeholder,
  .ant-select-search__field__placeholder {
    color: #fff;
  }
  .ant-select-selection--single {
    box-sizing: 7px;
  }
  .ant-select-selection {
    background-color: $theme-color-1;
  }
  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-select-arrow .anticon {
    color: #fff;
  }

  .image-login-form {
    max-width: 100%;
    height: auto;
  }

  .form-group {
    margin-bottom: 30px;
  }

  .input-login-form {
    padding: 20px 0;
  }

  .form-content {
    padding: 5rem 7rem;
  }
  @media screen and (min-width: 576px) and (max-width: 991px) {
    .form-content {
      padding-right: 5rem !important;
      padding-left: 5rem !important;
    }
  }

  @media screen and (max-width: 575px) {
    .form-content {
      padding-right: 2rem !important;
      padding-left: 2rem !important;
    }
  }

  .Form-login {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .input-login-form {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid $separator-color !important;
    margin-top: 1.2em;
  }
  .btn-register-login {
    border: none !important;
    width: 100% !important;
    background-color: $theme-color-1 !important;
    border-radius: 50px !important;

    color: #eee;
  }
  .or {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #eee;
      position: absolute;
      top: 50%;
    }
    &::before {
      left: 100%;
    }
    &::after {
      right: 100%;
    }
  }

  .login-txt {
    font-size: 16px;
  }

  .form-check {
    margin-top: 2em;
  }
  .text-check-color {
    color: $theme-color-1 !important;
  }
  .select-gender-form {
    width: 80% !important;
    background-color: $theme-color-1 !important;
    color: #fff !important;
    border-radius: 14px !important;
    text-align: center !important;
    margin-top: 1.2em;
    box-shadow: none !important;
    border: none !important;
  }
  .input-login-form:focus {
    box-shadow: none !important;
  }
  .select-gender-form:focus {
    box-shadow: none !important;
  }
  .input-login-form {
    margin-top: 0;
  }

  .select-gender {
    padding-top: 1em;
  }
  .background-block {
    position: relative;
    background: transparent linear-gradient(1deg, #5d95a6 0%, #063365 100%) 0%
      0% no-repeat padding-box;
  }
  .image {
    position: absolute;
    left: 50px;
    height: 293px;
    width: 100%;
    background: url("../../static/component.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    bottom: 0;
    background-size: contain;
    z-index: 2;
  }
  .pt-70 {
    padding-top: 70px;
  }
  .pb-120 {
    padding-bottom: 120px;
  }
  .ant-form-explain {
    display: none;
  }
  .mobile-view-logo {
    display: none;
  }
  .box-logo {
    position: absolute;
    font-family: "anoxic";
    font-size: 100px;
    color: #fff;
    line-height: 80px;
    width: auto;

    top: 70px;
    text-align: center;
  }
  .padding-x-15 {
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .login-form {
    max-width: 1000px;
  }
}

@media screen and (max-width: 767px) {
  .background-block,
  .box-logo,
  .image {
    display: none !important;
  }

  .login-form {
    margin-left: 25px;
    margin-right: 25px;
  }
  .custom-px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .mobile-view-logo {
    display: block !important;
    text-align: center;
    margin-top: -55px;
    margin-bottom: 40px;

    .logo {
      height: 30px;
      width: auto;
    }
  }
}
