.content-padding {
    padding-right: 1rem;
    padding-left: 1rem;
}

.questions-style {
    
    font-size: 14px;
    color: #2f4491;
    text-align: justify;
}


.ant-checkbox-wrapper > span {
    padding-right: 0px;;
}
.circle-number {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 5px;
    border: 1px solid #666;
    color: #666;
    text-align: center;
}